h2.folder-name {
  text-align: center;
  font-size: 36px;
  margin-top: 10px;
}

.one-note {
  display: flex;
  flex-direction: column;
  border: 2px black solid;
  padding: 10px;
  margin-bottom: 20px; 
}

.one-note h2 {
  text-align: center;
  margin: 10px;
}

.modified-date {
  margin: 10px 10px;
  text-align: center;
}

.note-container {
  margin: 30px;
}
p.content {
  margin: 10px 10px;
  text-align: center;
}

.back-button {
  background-color:#1C2541;
  border-radius:21px;
  cursor:pointer;
  color: #5BC0BE;
  font-family:Arial;
  font-size:15px;
  padding:10px 10px;
  text-decoration:none;
  text-shadow:0px 1px 0px #283966;
}

.back-button:hover {
  background-color:#476e9e;
  cursor: pointer;
}

.back-button:active {
  position:relative;
  top:1px;
}

.delete-btn {
  background-color:#1C2541;
  border-radius:21px;
  cursor:pointer;
  color: #5BC0BE;
  font-family:Arial;
  font-size:15px;
  padding:5px 5px;
  text-decoration:none;
  text-shadow:0px 1px 0px #283966;
  width: 80px;
  text-align: center;
  margin-top: 20px;
}
  

