h1 {
  display: flex;
  text-align: center;
  font-size: 60px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  height: 80px;
  background-color: #7c8da2;
  margin: 0;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: #5BC0BE;
}