* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
  border: 2px black solid;
  width: 400px;
  height: 120px;
  margin: 5px;
  text-align: start;
  padding-left: 10px;
}

li.notes-list {
  display: flex;
  flex-wrap: wrap;
}

.note-details {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.flex-full {
  flex: 100%;
}

.delete-note-btn {
  background-color:#1C2541;
  border-radius:21px;
  cursor:pointer;
  color: #5BC0BE;
  font-family:Arial;
  font-size:15px;
  padding:5px;
  text-decoration:none;
  text-shadow:0px 1px 0px #283966; 
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px; 
}

.delete-note-btn:hover {
  background-color:#476e9e;
  cursor: pointer;
}

.delete-note-btn:active {
  position:relative;
  top:1px;
}



