* {
  box-sizing: border-box;
}

/* .notes-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
} */

li {
  list-style-type: none;
  border: 2px black solid;
  width: 400px;
  height: 120px;
  margin: 5px;
  text-align: start;
  padding-left: 10px;
}

/* .list-container {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
} */

.notes-list {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
}

.note-details {
  display: flex;
  justify-content: space-between;
}

.flex-full {
  flex: 100%;
}

.delete-note-btn {
  background-color:#1C2541;
  border-radius:21px;
  cursor:pointer;
  color: #5BC0BE;
  font-family:Arial;
  font-size:15px;
  padding:10px;
  text-decoration:none;
  text-shadow:0px 1px 0px #283966; 
  margin-right: 10px;
  margin-bottom: 10px; 
}



